<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="../assests/style.css">
</head>
<body>
    <table border="1" width="100%" cellspacing="0">
        <tr>
            <td align="right" class="hf">
                <h1 align="left" style="color: cornsilk">Tourism Management System</h1>
              <a href="../../home.php" class="a1">HOME</a>           
                <a href="customerLogin.html" class="a1"> Login </a>               
                <a href="customerRegistration.html" class="a1"> Registration </a> 
            </td>
        </tr>
        <tr height = "400px">
            <td align="center">
                <form method="POST" action="../controller/logCheck.php" onsubmit="return logValidation()">
                    <fieldset style="width: 20% " class="table">
                        <legend>LOGIN</legend>
                        <table >
                            <tr>
                                <td>User Name</td>
                                <td>:<input type="text" id="username" name="username"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>:<input type="password" id="password" name="password"></td>
                            </tr>
                        </table>
                        <hr>
                        <input type="checkbox" name="">Remember Me
                        <br>
                        <input type="submit" class="button" name="submit" value="Submit">
                        
                    </fieldset>
                </form>
                
            </td>
        </tr>
        <tr height = "30px" class="hf">
            <td >
                <center> Copyright@2017 </center>
            </td>
        </tr>
    </table>
</body>
</html>